<!DOCTYPE html>
<html lang="en" style="height:100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body style="height:100%;">
    <div class="d-flex" style="height:100%">
        <div class="me-3 ms-3 mt-2 flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
        <div class="bg-light text-center ps-2 pe-2 pt-2" style="min-width: 80px; height: 100%">
            <a href="{% url 'blog:post_list' %}">На Главную</a>
        </div>
    </div>
</body>
</html>